<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/TOSHIBA/STAN/Assurdly_Test"><classes><class name="Search.SearchPage_Test"><methods><include name="SearchPageTest"/></methods></class></classes></test></suite>